.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-wallet {
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 908px;
  margin: 0;
  width: 1919px;
}

.header-form {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  display: flex;
  flex-direction: column;
  height: 482px;
  justify-content: center;
  left: 445px;
  position: absolute;
  top: -100px;
  width: 1037px;
}

.header-container {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}

.input-container {
  align-items: center;
  background: rgba(225, 229, 235, 0.49);
  display: flex;
  flex-wrap: wrap;
  height: 134px;
  justify-content: space-evenly;
  left: 121px;
  top: 156px;
  width: 1037px;
}

.btn-add {
  align-items: center;
  background: #4bbdac;
  border: 1px solid #4bbdac;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 14px;
  text-align: center;
  width: 330px;

}

.input-desc {
  border: 1px solid #0e8a77;
  border-radius: 5px;
  box-sizing: border-box;
  height: 30px;
  left: 403.14px;
  top: 179px;
  width: 288.86px;
}

.input-value {
  border: 1px solid #0e8a77;
  border-radius: 5px;
  box-sizing: border-box;
  height: 30px;
  left: 403.14px;
  top: 179px;
  width: 200px;
}

label {
  color: #0e8a77;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

select {
  background-color: rgba(225, 229, 235, 0.49);
  border: 1px solid #0e8a77;
  border-radius: 5px;
  color: #0e8a77;
  height: 30px;
  left: 897px;
  top: 179px;
  width: 155px;
}

.title , .email , .field , .currency {
  color: #0e8a77;
}
